<header>
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 py-3">
          <div class="header-contact">
            <p class="text-start">
              <span class="px-2">Welcome to Our store Multikart</span>
              <span class="px-2"><i class="fa fa-phone px-2" aria-hidden="true"></i>Call Us: 01879830435</span>
            </p>
          </div>
        </div>
        <div class="col-lg-6 py-3">
          <div class="header-contact">
            <p class="text-end">
              <span class="px-2"><i class="fa fa-truck px-2" aria-hidden="true"></i>Track Order</span>
              <span class="px-2"><i class="fa fa-gift px-2" aria-hidden="true"></i>Gift Cards</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-middle">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-3 d-flex justify-content-center py-2">
          <div class="brand-logo">
            <a href="#">
              <img src="../../../../assets/images/logo.png" width="240" height="55" class="img-fluid blur-up lazyload"
                alt="logo">
            </a>
          </div>
        </div>
        <div class="col-lg-6 py-2">
          <form class="form_search ajax-search the-basics" role="form">
            <input type="search" placeholder="Search anything..." class="form-control search-input my-2"
              aria-expanded="true">
            <button type="submit" name="nav-submit-button" class="btn-search">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>
        <div class="col-lg-3">
          <div class="mt-2 d-flex justify-content-center">
            <span class="p-2">
              <i class="fa fa-user fs-4"></i>
            </span>
            <span class="p-2">
              <i class="fa fa-truck px-2 fs-4" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xl-3">
          <div class="category-menu d-none d-xl-block h-100">
            <div id="toggle-sidebar" class="toggle-sidebar">
              <i class="fa fa-bars sidebar-bar"></i>
              <h5 class="mb-0">shop by category</h5>
            </div>
          </div>
          <div class="sidenav fixed-sidebar marketplace-sidebar">
            <nav>
              <div>
                <div class="sidebar-back text-start d-xl-none d-block"><i class="fa fa-angle-left pe-2"
                    aria-hidden="true"></i> Back</div>
              </div>
              <ul id="sub-menu" class="sm pixelstrap sm-vertical">
                <li> <a href="#">TV & Audio</a>
                  <ul class="mega-menu clothing-menu">
                    <li>
                      <div class="row m-0">
                        <div class="col-xl-4">
                          <div class="link-section">
                            <h5>women's fashion</h5>
                            <ul>
                              <li><a href="#">dresses</a></li>
                              <li><a href="#">skirts</a></li>
                              <li><a href="#">westarn wear</a></li>
                              <li><a href="#">ethic wear</a></li>
                              <li><a href="#">sport wear</a></li>
                            </ul>
                            <h5>men's fashion</h5>
                            <ul>
                              <li><a href="#">sports wear</a></li>
                              <li><a href="#">western wear</a></li>
                              <li><a href="#">ethic wear</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-xl-4">
                          <div class="link-section">
                            <h5>accessories</h5>
                            <ul>
                              <li><a href="#">fashion jewellery</a></li>
                              <li><a href="#">caps and hats</a></li>
                              <li><a href="#">precious jewellery</a></li>
                              <li><a href="#">necklaces</a></li>
                              <li><a href="#">earrings</a></li>
                              <li><a href="#">wrist wear</a></li>
                              <li><a href="#">ties</a></li>
                              <li><a href="#">cufflinks</a></li>
                              <li><a href="#">pockets squares</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-xl-4">
                          <a href="#" class="mega-menu-banner"><img src="assets/images/mega-menu/fashion.jpg" alt=""
                              class="img-fluid blur-up lazyload"></a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
